@import url("./reset.css");

html,
:root {
  font-size: 62.5%;
}

body {
  width: 100%;
  min-height: 100vh;
  text-align: center;
  background-color: black;
  color: white;
}

.banner {
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.6),
      rgba(49, 168, 221, 0.2),
      rgba(0, 0, 0, 0.6)
    ),
    url("../images/banner.png");
  height: 60.5rem;
  border-bottom: 0.1rem solid #33a8db80;
  padding-top: 5.6rem;
}

.banner .banner-content {
  width: 51rem;
  margin: 0 auto;
}

.banner .logo {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  height: 26.8rem;
  width: 26.8rem;
  margin: 0 auto;
  padding: 2.7rem 1rem;
}

.banner h1 {
  margin: 1.6rem;
  font-weight: 900;
  line-height: 4.7rem;
  font-size: 4rem;

  background: linear-gradient(180deg, #33a8db 0%, #1472b7 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.banner p {
  font-size: 1.9rem;
  line-height: 2.3rem;
  letter-spacing: 0rem;
  word-spacing: 0.3rem;
  margin-bottom: 2.4rem;
}

.banner button {
  font-size: 1.6rem;
  font-weight: 900;
  line-height: 1.9rem;
  letter-spacing: 0.5rem;
  text-align: center;
  width: 32.6rem;
  height: 5.7rem;
  border-image: linear-gradient(#3ba1cd, #1572b7);
  border-image-slice: 1;

  background: linear-gradient(180deg, #33a8db 0%, #1472b7 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;

  cursor: pointer;
  transition: all 0.3s ease-in;
}

.banner button:hover {
  filter: brightness(2);
  transform: scale(1.05);
}

#course-content {
  width: 79.2rem;
  margin: 0 auto;
  text-align: center;
}

#course-content h2 {
  font-weight: 700;
  font-size: 3.2rem;
  color: #33a8db;
  line-height: 3.2rem;
  margin-top: 11.8rem;
}

#course-content p {
  margin-top: 2.4rem;
  font-size: 1.6rem;
  line-height: 1.9rem;
}

.modules-list {
  margin-bottom: 9rem;
}

.module {
  width: 53.5rem;
  margin: 2.4rem auto 0;
  border-radius: 5.7rem;
  background-color: #252525;
  border: 1px solid #33a8db;
  padding: 1.6rem 0;
  box-shadow: inset -2px 6px 4px rgba(0, 0, 0, 0.4);
}

#transform-world {
  height: 36.6rem;
  background: url("../images/woman-code.png");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  position: relative;
}

#transform-world p {
  position: absolute;
  top: 11.1rem;
  left: 19.8rem;
  width: 24.4rem;
  text-transform: lowercase;
  text-align: left;
  font-weight: 900;
  font-size: 4rem;
  line-height: 4.7rem;
  text-shadow: 3px 2px 0px #33a8db;
}

#professional-challenges h2 {
  font-weight: 700;
  font-size: 3.2rem;
  margin: 7.6rem auto 3.2rem;
  width: 74.6rem;
  line-height: 3.8rem;
  letter-spacing: 0.19em;
  color: #33a8db;
}

#professional-challenges p {
  margin-top: 4rem;
  width: 79.2rem;
  margin: 0 auto;
  font-size: 1.6rem;
  line-height: 1.9rem;
  font-weight: 400;
}
