@import url('./reset.css');

html{
    font-size: 62,5%;
}

body {
    width: 100%;
    min-height: 100vh;
}

#banner {
    height: 60.5rem;
}

#banner .banner-content{
    margin: 5.6rem auto 1.6rem;
}
